*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav_bottom {

    width: 75%;
    margin: auto;
    color: rgb(126, 139, 151);

}

.nav_bottom::after {

    content: "";
    clear: both;
    display: table;
}

.logo {

    float: left;
    line-height: 96.85px;
    width: 10%;
}

.nav_bottom .logo img {

    width: 120px;
    vertical-align: middle;

}
.nav_bottom ul {

    display: inline-block;
}

.nav_bottom ul li {

    list-style-type: none;
    display: inline;
    padding: 0 0 0 10px;

}

.nav_bottom ul li a {

    color: rgb(126, 139, 151);
    text-decoration: none;

}

.nav_bottom_list {

    float: right;
    line-height: 96.8594px
}

.nav_bottom_list li {

    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: rgb(126, 139, 151);

}

.nav_bottom_list_span, .language_span span{

    padding: 5px 0px 5px 5px;
    font-size: 20px;
    color: rgb(126, 139, 151);
    
}

.central_ul {

    padding-right: 80px;
}

.right_ul_btn a {

    padding:10px 10px;
    border: 1px solid blue;
    border-radius: 10px;
}