*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAV */



.great_container {

    width: 100%;
}

.container {

    max-width: 80%;
    margin: auto;
    
}

.row {


    width: 100%;

}

[class*="col-"] {
    float: left;
    /* text-align: center; */
    /* padding: 45px 0; */
}



.col-2 .logo img {

    width: 120px;
    vertical-align: middle;
}

.central_ul li ,.right_ul li{

    list-style-type: none;
    display: inline;
    padding: 0 0 0 8px;

}

.col-5 .central_ul li a , .col-5 .right_ul li a {

    text-decoration: none;
    color: black;

}

.col-5 .right_ul_btn a{

    padding:10px 5px;
    border: 1px solid blue;
    border-radius: 10px;
    color: black;

}

.text-right {

    text-align: right;
}

.hero_h1 {

    font-size: 40px;
    color: white;
}



/* hero */



.hero {

    width: 100%;
    background-image: url(img/bg-banner-home.jpg);
    padding: 80px 0;
}

.hero .container .row .hero_h1 h1{

    font-size: 45px;
    color: white;
    text-align: left;
}

.hero_p {

    font-size: 20px;
    color: white;
    text-align: left;
    padding: 10px 0;

}

.panel_sign_in {

    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.form_lgr {

    width: 90%;
    margin: auto;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid lightslategrey;
    margin: 5px 0;
}

form li {

    list-style-type: none;
    margin: 5px 0;
}

form button.btn{

    background-image: url(img/google\ icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    
}

form button a {

    text-decoration: none;

}

/* ---------partners---------- */

.partners, .partners_container {

    background-color: #f3f5f9;
    margin: auto;

}

.partners {

    width: 100%;
}

.partners h4 {

    color: grey;
}

.partners_container::after {

    content: "";
    display: table;
    clear: both;


}

.partners .partners_container img {

    width: 140px;
    height: 100px;

}



.partners h4 a {

    text-decoration: none;
    
}

.partners h4 a i {

    vertical-align: middle;


}

/* deploy */

.deploy_container {

    width: 65%;
    margin: auto;
}

.deploy_container_border_left {
    border-left: 1px solid black;

}

.deploy_container .col-4 {

    padding: 0 10px;
}

.deploy_container .col-4 li {

    list-style: none;
    text-align: left;
    padding: 10px 0 10px 10px;
    font-size: 20px;
}

.deploy_container .col-4 li a {
    
    text-decoration: none;


}

.deploy_container_top ,.deploy_container_bottom {

    width: 100%;
    border: 1px solid black;
    text-align: center;
}


.deploy_container_top_left,.deploy_container_top_right,.deploy_container_bottom_left,.deploy_container_bottom_right {

    float: left;
    width: 50%;
}



























/* ----MOBILE VERSION------ */

@media all and (max-width:767px) {

    
    .hidden {

        display: none;
    
    }

    .visible  {

        display: block;
        color: blue;
        padding-right: 20px;
    
    }

    .logo {

        padding-left: 20px;
    }

    .hero .col-6 {

        width: 100%;
        padding: 20px 0;
    }

    .partners .partners_container .col-2 {

        width: 50%;
        
        
    }

    .partners .partners_container .col-2 img {
        margin-left: 30px;

    }

}







/* ------ TABLET VERSION -------- */

@media all and (min-width:768px) and (max-width:991px){

    
    .hidden {

        display: none;
    
    }

    .visible  {

        display: block;
        color: blue;
        padding-right: 20px;
    
    }

    .hero .container .row .hero_h1 h1 {

        font-size: 30px;
        padding-bottom: 10px;
        
    }

    .partners .partners_container img {

        width: 100px;
        height: 70px;
        
    }
}

/* -----desktop version----- */

@media all and (min-width:992px) {

    .visible  {

        display: none;
    
    }

}


    @media all and (min-width:1500px) {

    

    .partners .partners_container img {

        width: 200px;
        height: 100px;
    
    }
    



}