*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----NAV----- */

nav {

    width: 100%;
}

.nav_container {

    width: 75%;
    margin: auto;
    border: 1px solid;
    padding: 20px 0;
    
}

.clear::after{

    content: "";
    display: table;
    clear: both;

}

.logo img {

    width: 150px;
    
}

.logo {

    float: left;
    width: 30%;
}


.nav_ul {
    float: right;
    width: 70%;
    text-align: right;
}

.central_ul {

    padding-right: 500px;
}

.central_ul li, .right_ul li {

    padding-left: 10px;
    list-style: none;
}

.central_ul li a, .right_ul li a {

    text-decoration: none;
}

.central_ul,.right_ul,.central_ul li, .right_ul li,.logo,.nav_ul{

    display: inline;
    margin: 0;
    vertical-align: middle;
    
}


